* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1120px;
    margin: auto;
}

.hero-section {
    background: url(images/donation13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0px;
    text-align: center;
}

#hero-title {
    font-size: 65px;
    color: #fff;
    font-weight: 700;
    line-height: 80px;
}

#hero-text {
    color: #fff;
    line-height: 28px;
    font-size: 20px;
    letter-spacing: 1.3px;
    font-weight: 300;
    margin: 20px 0px;
}

.inner-container {
    width: 800px;
    margin: auto;
    text-align: center;
}

.universal-btn {
    border: none;
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    background: #18978F;
    cursor: pointer;
    transition: 0.5s;
}

.universal-btn:hover {
    background: #097069;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);   
    margin: -6px 0px 6px; 
}

.dontae-sec {
    text-align: center;
    padding: 100px 0px;
}

.header-2 {
    font-size: 45px;
    color: #000;
}

.universal-text {
    color: #707070;
    font-size: 20px;
    letter-spacing: 1.3px;
    font-weight: 300;
    margin: 20px 0px;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount {
    width: 140px;
    padding: 45px 0px;
    background-color: #fafafa;
    color: #707070;
    margin: 10px;
    font-size: 25px;
    border-radius: 8px;
}

.highlited-amount {
    background-color: #d0eae8;
    color: #18978F;
    border: 3px solid #18978F;
}


.amount h3 {
    font-weight: 600 !important;
}

#other-amount {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #707070;
    line-height: 30px;
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid #b3b3b3;
    margin: 50px 0px 30px;
}

#other-amount:focus-visible {
    outline: none;
}

::placeholder {
    color: #b3b3b3;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #b3b3b3;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
   color: #b3b3b3;
}

.donation-plan {
    padding: 30px 0px 100px;
}

.info-box {
    margin: 10px;
    padding: 50px 30px;
    border-radius: 7px;
    width: 33%;
    height: 230px;
}

.info-1 {
    background-color: rgb(255, 244, 214, 0.8);
}

.info-2 {
    background-color: rgb(79, 157, 166, 0.1);
}

.info-3 {
    background-color: rgb(255, 89, 89, 0.1);
}

.info-box h3 {
    font-size: 23px;
    font-weight: 600;
    margin-top: 10px;
}

.info-box p {
    margin: 10px 0px;
}

footer {
    text-align: center;
    background-color: black;
    padding: 70px 0px;
}

footer h1 {
    font-family: 'Lobster', cursive;
    font-size: 45px;
    color: #10aea3;
}

#footer-text {
    font-size: 14px;
    color: #9a9a9a;
}

.colored-title {
    color: #18978F;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
    margin-bottom: 35px;
    display: flex;
}

.ex-pd {
    padding: 30px 0px;
}

.icon {
    background-color: #18978F;
    padding: 15px 18px;
    width: 50px;
    border-radius: 8px;
}

.icon img {
    width: 100%;
}

.left-section {
    width: 50%;
}

.right-section {
    width: 50%;
}

.right-section img {
    width: 100%;
}

.text-area {
    width: 400px;
    margin: auto 20px;
}

.text-area p {
    margin: 0px;
    font-size: 15px;
    letter-spacing: normal;
}

.blogs img {
    width: 100%;
    border-radius: 10px;
}

.blogs {
    width: 33%;
    height: 350px;
    padding: 20px;
    /* box-shadow: 0px 11px 68px -32px #575757; */
    box-shadow: 0 14px 28px rgba(121, 121, 121, 0.25), 0 10px 10px rgba(170, 170, 170, 0.22);
    text-align: left;
    border-radius: 15px;
    margin: 17px;
    background-color: #FFF;
    transition: 0.5s;
}

.blogs:hover {
    cursor: pointer;
    margin-top: -12px;
    margin-bottom: 12px;
}

.blogs h3 {
    margin: 10px 0px;
    font-size: 30px;
}

.blog {
    margin: 100px 0px;
    text-align: center;
}

.email {
    background-color: antiquewhite;
    padding: 80px 100px;
}

.email input {
    width: 50%;
    padding: 15px;
    font-size: 18px;
    border: navajowhite;
    border-radius: 5px 0px 0px 5px;
    background: #dadada;
}

.email a {
    width: 20%;
    padding: 13.5px 26px;
    font-size: 17px;
    border: navajowhite;
    border-radius: 0px 5px 5px 0px;
    background: #18978F;
    color: white;
}

.email a:hover {
    cursor: pointer;
}

.email input:focus-visible {
    outline: none;
}


.email-us {
    margin: 30px 0px 150px;
}